.bg-light {
    background-color: initial !important;
}

#main {
  background-color: #004080;
}

#mainorange {
  background-color: #B27877;
}

.backg{
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 95% 201%;
  background-position-y: 15%;
}

.backgorange{
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 95% 176%;
  background-position-y: 26%;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}


.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 215px;
}

.site-logo {
    width: 175px;
}

.round {
    border: 1px solid;
    border-radius: 50px;
    margin-left: 10px;
}

.welcome {
    color: white;
    text-align: right;
}

.bordr{
    margin-left: -17px;
    margin-top: 27px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 6px solid #fff;
    width: 200px;
    line-height: 0.1;
    line-height: 3;
}

.project {
    color: white;
    font-size: 272%;
    line-height: 0.2;
}

.dec  {
    color: white;
    line-height: 3;
    font-size: 91%;
}

.ex {
    background-color: initial;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
}


.tet-con {
    padding-top: 90px;
    padding-bottom: 190px;
}

.lgone-img {
    width: 100px;
}

.lgtwo-img {
    width: 175px;
    margin-left: 20px;
}

.lgthree-img {
    width: 196px;
    margin-left: 20px;
}

.brand {
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer {
   background: #004080;
   padding-top: 70px;
   padding-bottom: 50px;
}

.round {
    border: 1px solid;
    border-radius: 50px;
    margin-left: 10px;
    background-color: initial;
}
.round:hover {
    border: 1px solid;
    border-radius: 50px;
    margin-left: 10px;
    background-color: initial;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    text-align: center;
    border-bottom: 0px solid #e9ecef;
}

.form-control {
    display: block;
    width: 65%;
    padding: 0.675rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.b-text span{
  background-color: white;
}

#pass {
    margin-top: 73px;
}

#pass span{
  background-color: white;
}

.lg{
  border-radius: 50px;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    padding: 2rem;
    border-top: 0px solid #e9ecef;
}
.up {
    padding-top: 30px;
    padding-bottom: 50px;
}


.line{
  border: 1px solid white;
}


.fixwithsize{
  padding-bottom: 21px;
  padding-top: 69px;
}

.textsizeprovate{
  font-weight: 500;
}

.fix2{
  padding-bottom: 105px;
}


@media (min-width: 576px) {

    .backg{
      background-size: 101% 184%;
      background-position-y: 17%;
      background-position-x: 597%;
    }
    .welcome{
      width: 218px;
    }

    .bordr{
      margin-left: -88px;
      width: 258px;

    }

    .project{
      font-weight: 700;
      font-size: 349%;
      line-height: 0.2;
    }

    .dec{
      line-height: 3;
      font-size: 121%;
    }

    .fixwithsize{
      font-size: 50px;
    }

    .textsizeprovate{
      font-size: 30px;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        margin-left: 107px;
        font-size: 30px;
    }

    .l-dec {
        margin-left: 128px;
        margin-top: -20px;
    }

    .b-text {
        margin-top: -61px;
        margin-left: -177px;
        color: black;
    }

}

@media (min-width: 768px) {

  .backg{
    background-size: 101% 190%;
    background-position-y: 17%;
    background-position-x: 162%
  }
  .welcome{
    width: 233px;
    margin-top: 50px
  }

  .bordr{
    margin-left: -116px;
    width: 425px;
    margin-top: 76px;
  }

  .project{
    font-weight: 700;
    font-size: 439%;
    line-height: 0.2;
  }

  .dec{
    line-height: 3;
    font-size: 227%;
  }

}

@media (min-width: 992px) {

  .welcome{
    width: 283px;
    margin-top: 50px
  }

  .bordr{
    margin-left: -188px;
    width: 581px;
    margin-top: 76px;
  }

  .project{
    font-weight: 700;
    font-size: 560%;
    line-height: 0.2;
  }

  .dec{
    line-height: 3;
    font-size: 227%;
  }

}

@media (min-width: 1200px) {
  .backg{
    background-size: 101% 190%;
    background-position-y: 17%;
    background-position-x: 162%
  }
  .welcome{
    margin-right: 269px;
  }

  .bordr{
    margin-left: -285px;
    width: 800px;
  }

  .project{
    font-weight: 700;
    font-size: 690%;
    line-height: 0.2;
  }

  .dec{
    line-height: 3;
    font-size: 232%;
  }
}


/* phones */
@media (max-width: 549px){
  .backg{
    background-size: 101% 190%;
    background-position-y: 17%;
    background-position-x: 162%
  }
  .welcome{
    font-size: 116%;
    margin-right: 40px;
  }

  .bordr{
    margin-top: 13px;
    margin-left: -67px;
    /* padding-top: 24px; */
    width: 145px;
  }

  .project {
    font-weight: 700;
    font-size: 150%;
    line-height: 0;
  }

  .dec{
    line-height: 3;
    font-size: 58%;
  }

  .fixwithsize{
    font-size: 17px;
  }

  .textsizeprovate {
    font-size: 11px;
  }

  .exploretext{
    font-size: 22px;
  }

  .modal-title {
      margin-bottom: 0;
      line-height: 1.5;
      margin-left: 43px;
  }

  .l-dec {
    margin-left: 64px;
    margin-top: -20px;
  }

  .b-text {
    margin-top: -61px;
    margin-left: -88px;
    color: black;
  }
}



@media only screen and (max-width: 500px) {

    .lgthree-img {
        width: 148px;
        margin-left: 20px;
    }
    .lgtwo-img {
        width: 126px;
        margin-left: 20px;
    }
    .lgthree-img {
        width: 148px;
        margin-left: 20px;
    }

}



/* page 28 */
